@import '../common/_variable.scss';

.about-page{
    max-width: 1024px;
    margin: 0 auto;

    a:hover{
        text-decoration: none;
    }

    .about-area{
        padding: $spacer;
        margin: $spacer / 4;
        border: 1px solid $gray-600;
        border-radius: $spacer / 2;
        background: rgba($gray-100, 0.3);
        .donate-image{
            overflow: hidden;
            border-radius: $spacer * 0.5;
            img{
                width: 100%;
            }
        }
    }


    padding: $spacer;
    .notice-list{
        line-height: $spacer * 2;
        li {
            word-break: break-all;
            color: $gray-700;
            margin-bottom: $spacer * 0.5;
        }
    }

    .history-list{
        line-height: $spacer * 2;
    }

    // .soft-link{
    //     max-width: 250px;
    //     color: $gray-800;
    //     padding: $spacer;
    //     .soft-link-img{
    //         overflow: hidden;
    //         margin: 0 auto;
    //         width: 80%;
    //         border-radius: 50%;
    //         box-shadow: 0px 0px 5px $gray-400;
    //         img{
    //             width: 100%;
    //         }
    //     }
    //     .soft-link-title{
    //         margin-top: $spacer;
    //         text-align: center;
    //     }
    // }

    .soft-link{
        display: flex;
        justify-content: stretch;
        align-items: center;
        padding: $spacer / 2;
        color: $gray-800;
        .soft-link-img{
            flex: none;
            img{
                width: 80px;
                height: 80px;
                border-radius: 50%;
                overflow: hidden;
                border: 1px solid $gray-300;
            }
        }
        .soft-link-title{
            flex: 1;
            padding-left: $spacer / 2;
            font-size: $spacer;
        }
    }

    .author-card{
        display: flex;
        justify-content: stretch;
        align-items: center;
        padding: $spacer / 2;
        color: $gray-800;
        .avater{
            flex: none;
            img{
                width: 100px;
                height: 100px;
                border-radius: 50%;
                overflow: hidden;
                border: 1px solid $gray-300;
            }
        }
        .author-info{
            flex: 1;
            padding-left: $spacer / 2;
            .author-title{
                margin-bottom: $spacer / 2;
                .name{
                    font-size: $spacer * 1.25;
                    font-weight: 900;
                }
                .title{
                    font-size: $spacer;
                }
            }
            .author-desc{
                font-size: $spacer;
            }
        }
    }
}
