@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?2q9ibv');
  src:  url('fonts/icomoon.eot?2q9ibv#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?2q9ibv') format('truetype'),
    url('fonts/icomoon.woff?2q9ibv') format('woff'),
    url('fonts/icomoon.svg?2q9ibv#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-electricity-pole:before {
  content: "\e90e";
}
.icon-chart:before {
  content: "\e90f";
}
.icon-geothermal:before {
  content: "\e90d";
}
.icon-power:before {
  content: "\e90b";
}
.icon-machine:before {
  content: "\e90c";
}
.icon-pumping_load:before {
  content: "\e90a";
}
.icon-solar:before {
  content: "\e900";
}
.icon-pumping_gen:before {
  content: "\e901";
}
.icon-wind:before {
  content: "\e902";
}
.icon-hydro:before {
  content: "\e903";
}
.icon-diesel:before {
  content: "\e904";
}
.icon-oil:before {
  content: "\e905";
}
.icon-co_gen:before {
  content: "\e906";
}
.icon-lng:before {
  content: "\e907";
}
.icon-coal:before {
  content: "\e908";
}
.icon-nuclear:before {
  content: "\e909";
}
.icon-calendar:before {
  content: "\e953";
}
